<!--bootstrap.js 는 제이쿼리가 꼭 있어야하기 때문에 부트스트랩보다 먼저 호출되도록 하였다-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<!--스프링 부트는 기본적으로 src/main/resource/static 에 위치한 자바스트립트,CSS,이미지 등 정적 파일들은 URL 에서 / 로 설정됨-->
<script src="/js/app/index.js"></script>
</body>
</html>